/* body-right */


/*content-title*/

.container {
    width: 100%;
    height: calc(100% - 61px);
    background-color: #e5e6ea;
    position: relative;
}

.container .content {
    margin: 10px;
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: #ffffff;
}

.content-header {
    width: 100%;
    height: 35px;
    background-color: #026b97;
    clear: both;
    display: flex;
    align-items: center;
    line-height: 40px;
    overflow: auto;
}


/* Box-find */

.content-find {
    width: 100%;
    height: 42px;
}

#search {
    font-size: 11px;
    border: none;
    outline: none;
}

.content .paging {
    display: flex;
    height: 60px;
    border-top: 1px solid #bbbbbb;
    /* line-height: 56px; */
    align-items: center;
    padding-left: 10px;
}

.paging-left {
    position: absolute;
    left: 217px;
}

.paging-middle {
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    line-height: 56px;
    align-items: center;
}

.paging-right {
    position: absolute;
    right: 33px;
}