.icon-common {
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
   
    margin:auto;
}

.icon-not-valid {
    background-image: url('../../Icon/crossed.png');
}

.icon-valid {
    background-image: url('../../Icon/check.svg');
}

