.icon-dashboard {
    background-image: url('../../Icon/dashboard.png');
}

.icon-report {
    background-image: url('../../Icon/report.png');
}

.icon-order {
    background-image: url('../../Icon/dashboard.png');
}

.icon-buy {
    background-image: url('../../Icon/store-online.png');
}

.icon-sale {
    background-image: url('../../Icon/sales.png');
}

.icon-manager {
    background-image: url('../../Icon/manager.png');
}

.icon-item {
    background-image: url('../../Icon/manager.png');
}

.icon-header {
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
}

.icon-feature {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 10px;
    display: flex;
}

.icon-avatar {
    margin-left: 16px;
    width: 30px;
    height: 30px;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    background-image: url('../../content/img/default-avatar.jpg');
    background-color: #bbbbbb;
}

#struck,
#item {
    color: #ffffff;
}

.icon-help {
    background-image: url('../../Icon/help.svg');
    background-color: #026b97;
    border-radius: 50%;
}

.icon-bell {
    background-image: url('../../Icon/bell.svg');
}

.icon-phone {
    border-radius: 50%;
    background-image: url('../../Icon/phone.jpg');
}

.icon-option-account {
    background-image: url('../../content/icon/option.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 5px;
}

.icon-find {
    width: 16px;
    height: 16px;
    margin-left: 16px;
    margin-right: 8px;
    background-image: url('../../content/icon/search.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-add {
    background-image: url('../../Icon/icon-add.png');
}

.icon-add-save {
    background-image: url('../../Icon/plus.jpg');
}

.icon-add-save:hover {
    background-color: #0088c1;
}

.icon-save {
    background-image: url('../../Icon/icon-add.png');
}

.icon-copy {
    background-image: url('../../Icon/icon-copy.png');
}

.icon-edit {
    background-image: url('../../Icon/icon-edit.png');
}

.icon-cancel {
    background-image: url('../../Icon/x.svg');
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 10px;
}

.icon-delete {
    background-image: url('../../Icon/icon-delete.png');
}

.icon-refresh {
    width: 17px;
    height: 17px;
    background-image: url('../../Icon/icon-load.png');
}

.icon-avatar,
.icon-bell,
.icon-help,
.icon-phone,
.icon-up-small :hover {
    cursor: pointer;
}

.icon-question {
    width: 50px;
    height: 50px;
    margin: 10px 14px;
    padding: 0;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #026b97;
    border-radius: 50%;
    background-image: url('../../Icon/help.svg');
}