<appSettings>
  <add key="ida:AppID" value="a8f83bd5-dd71-4f7b-a56b-295a5a1a0334" />
  <add key="ida:AppSecret" value=".Xm4NgH873~rGMoMvCz.21pNsSEp0~.QnD" />
  <add key="ida:RedirectUri" value="https://localhost:44370/" />
  <add key="ida:AppScopes" value="User.Read Files.Read Mail.Read Mail.Read.Shared Mail.Send " />
</appSettings>
