body {
  margin:0;
  padding:0;
}
section.content {
    margin: 0 15px 0 315px;
   /* -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;*/
}
.jumbotron {
    height: calc(100vh - 151px);
    margin-top: 100px;
}
.my-custom-scrollbar {
    position: relative;
    height: calc(100vh - 220px);
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}