/*Tieu de cua trang*/

.page-title {
    float: left;
    height: 40px;
    font-weight: bold;
    line-height: 40px;
    font-size: 20px;
    padding-left: 16px;
}

.common-feature {
    width: 54px;
    height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-left: 1px solid#bbbbbb;
    background-color: #ffffff;
    z-index: 2;
}

.common-feature:hover {
    background-color: #0088c1;
    cursor: pointer;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

body {
    margin: 0;
}