.grid {
    clear: both;
    height: calc(100% - 101px);
    overflow: auto;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

table tr:nth-child(odd) {
    background-color: #f4f4f4;
}

table tr:nth-child(even) {
    background-color: white;
}

table tr:nth-child(5) {
    border-right: none;
}

.colum-text {
    height: 30px;
    line-height: 30px;
}

.colum-item {
    height: 40px;
    display: flex;
}

.colum-item #colum-code,
#colum-name,
#colum-phone-number,
#colum-address {
    padding: 0;
    margin: 0;
    height: 40px;
    width: calc(100% - 40px);
}

.colum-item #colum-status {
    outline: none;
    height: 40px;
    width: 100%;
}

.grid td {
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    text-align: left;
    height: 40px;
    overflow: hidden;
    padding: 0 12px;
}

tr td:hover {
    background-color: #d1f1ff;
}

.grid table tbody {
    white-space: nowrap;
    word-wrap: unset;
}

.grid thead th {
    position: -webkit-sticky;
    border-right: 1px solid #bbbbbb;
    position: sticky;
    background-color: #f4f4f4;
    top: 0;
    text-align: center;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #e9ebee;
    border-radius: 4px;
    border: none;
    margin-top: 70px;
}

::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    border-radius: 4px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #888;
}