.input {
    margin-left: 16px;
    float: left;
    width: 220px;
    height: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    display: flex;
    align-items: center;
    overflow: auto;
}

.input-item-colum {
    border: 1px solid #bbbbbb;
    margin-right: 2px;
    align-content: center;
    outline: none;
    height: inherit;
    background-color: #ffffff;
}

#colum-status {
    width: inherit;
    border: 1px solid #bbbbbb;
    margin: 0 2px 0 1px;
    background-color: #ffffff;
    -webkit-appearance: auto;
    outline: none;
}