@import url('m-dialog.css');
#m-dialog {
    /*display: none;*/
    border: 3px solid black;
}

#dialog-add {
    /*display: none;*/
    border: 3px solid black;
}

.dialog-modal {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    background-color: black;
    opacity: .5
}

#m-dialog .dialog-delete-content {
    position: absolute;
    font-size: 15px;
    width: 550px;
    height: 202px;
    top: calc(50% - 101px);
    left: calc(50% - 275px);
    z-index: 1000;
    background-color: #fff;
}

#dialog-add .dialog-form {
    margin-top: 10px;
    position: absolute;
    width: 800px;
    height: 557px;
    top: calc(50% - 278px);
    left: calc(50% - 400px);
    z-index: 1000;
    background-color: #fff;
}

.dialog-header {
    padding-left: 16px;
    height: 60px;
    line-height: 60px;
    background-color: #e5e5e5;
    border-bottom: 1px solid #bbbbbb;
}

.dialog-header .dialog-header-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.dialog-header .dialog-header-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    height: 60px;
    width: 60px;
    top: 0;
    right: 0;
    opacity: .4
}

.dialog-header-close :hover {
    background-color: #bbbbbb;
    cursor: pointer;
}

.dialog-header .dialog-header-close button {
    outline: none;
    border: none;
    background-color: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

#m-dialog .dialog-header .dialog-header-close button:hover {
    background-color: #bbbbbb;
    cursor: pointer;
}


/* Dialog */

.dialog-add-content {
    padding-bottom: 5px;
    padding-top: 15px;
}

.input-row {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

#input-row-address {
    height: 120px;
    width: inherit;
    display: flex;
}

#label-text-address {
    position: absolute;
    top: 0;
}

label {
    width: 120px;
    padding: 0 5px 0 16px;
}

.input-row-item {
    display: flex;
}

.input-row-item .input-row {
    width: 50%;
}

.input-row-item .input-row .m-input {
    margin-left: 3px
}

.input-row .input-left .m-input {
    width: 120px;
    height: 40px;
}

.input-row .input-right .m-input {
    width: calc(50% -122px);
}

.m-input {
    width: calc(100% - 118px);
    margin-right: 16px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    outline: none;
}

.input-row #txtarea-address {
    resize: none;
    width: calc(100% - 132px);
    height: 80px;
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    margin-right: 16px;
    position: absolute;
    left: 117px;
}


/* Dialog */

#m-dialog .dialog-body {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bbbbbb;
}

.dialog-bottom {
    width: 100%;
    height: 61px;
}

.dialog-delete-footer {
    width: 100%;
    height: 60px;
    border-top: 1px solid #bbbbbb;
    line-height: 60px;
    align-items: center;
}

.dialog-add-footer {
    width: 100%;
    height: 60px;
    border-top: 1px solid #bbbbbb;
    line-height: 60px;
    align-items: center;
}

.dialog-add-footer .dialog-footer-left {
    display: flex;
    float: left;
    align-items: center;
    margin-left: 16px;
}

.dialog-add-footer .dialog-footer-right {
    float: right;
    height: 60px;
    align-items: center;
    display: flex;
    margin-right: 16px;
}

.text-help {
    margin-left: 10px;
    color: #026b97;
}

input.border-red {
    border: 1px solid red;
}

.input-row select {
    -webkit-appearance: auto;
}