
@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<button id="btbLogin">Login</button>
<script>

    $(document).ready(function () {
        $('#btnLogin').click(function () {
           
            window.location = "https://www.youtube.com/watch?v=Mtpx_lpfRLs&t=1559s";
        })

    });
</script>
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
